html {
box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
}

* {
text-align: center;
font-family: Roboto, Arial;
margin: 0;
}

body {
margin: 0;
}

.container {
height: 100%;
width: 100%;
}

header {
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
color: #fff;
background-color: #1F2937;
padding: 0 100px;
}

header h4 {
font-size: 24px;
color: #F9FAF8;
margin: 15px 0;
}

nav a {
margin: 0 0 0 5px;
}

a {
text-decoration: none;
color: #E5E7EB;
font-size: 18px;
}

.hero {
display: flex;
padding: 50px 100px 50px 100px;
color: #fff;
background-color: #1F2937;
}

.hero-text {
text-align: start;
margin: 0 80px 0 0;
padding: 0;
}
div h2, p {
text-align:left;
}

div p {
font-size: 18px;
color: #E5E7EB;
margin: 5px 0 10px 0;
}

div h2 {
font-size: 48px;
font-weight: bold;
}

button {
padding: 5px 10px;
border: none;
border-radius: 3px;
color: #FFFFFF;
background-color: #3882F6;
font-weight: bold;
border: 2px #E5E7EB solid;
}

.display {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
background-color: #F9FAF8;
color: #1F2937;
padding: 30px 100px 30px 100px; 
}


div h3 {
width: 100%;
font-size: 36px;
font-weight: bold;
color: #1F2937;
margin-bottom: 30px
}

.display-img {
width: 20%;
}

.display-img img {
border: 2px solid #3882F6;
border-radius: 3px;
width: 150px;
height: 150px;
}

.display-img p {
color: #1F2937;
font-size: 16px;
margin: 5px 15px 0 15px;
text-align: center;
}

.quote {
padding: 50px 100px 50px 100px;
background-color: #E5E7EB;
color: #1F2937;
font-size: 30px;
font-weight: 300;
font-style: italic;
}

.blockquote {
margin-bottom: 20px
}

.actioncall {
background-color: #F9FAF8;
}

.message {
margin: 10%;
display: flex;
justify-content: space-between;
padding: 30px 80px 30px 80px;
align-items: center;
background-color: #3882F6;
color: #E5E7EB;
border-radius: 6px;
}

.message p {
font-size: 16px;
}

.message h4 {
text-align: left;
}

.actioncall button {
border: 2px #E5E7EB solid;
font-weight: bold;
}

footer {
background-color: #1F2937;
height: 80px;
display: flex;
align-items: center;
justify-content: center;
}

